@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #008435;        /* Schaeffler Green */
  --primary-light: #33a466;
  --primary-dark: #006027;

  --surface: #ffffff;
  --surface-alt: #f7f9f8;

  --border: #dfe4e2;
  --text-main: #1a1a1a;
  --text-muted: #66757f;
}

/* Modal Animation */
@keyframes scaleIn {
  0% { transform: scale(.95); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-scaleIn {
  animation: scaleIn .25s ease;
}
